div.realtime {
  height: 600px;
}

@media (min-width: 500px) {
    .top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr auto;
        grid-template-areas:
            "titles equalizer"
            "control equalizer"
            "bottom bottom";
        grid-gap: 20px;
        margin-bottom: 4em;
    }
    .top > .top {
        grid-column-start: 1;
    }
    .equalizer {
        grid-area: equalizer;
    }

    .titles {
        grid-area: titles;
    }

    .control {
        grid-area: control;
    }
    .seismograms {
        grid-area: bottom;
    }
}

div.currentRace {
  font-size: smaller;
}


div.sidebar {

  height: 100%;
  width: 200px;
  z-index:1;
  position: fixed;
  top: 0;
  left:75%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;

}
p.clock{
  font-size: 30px;

}
button.heatcollapse{
  background-color: gray
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 200px;
  text-align: left;
  transition:0.4s;
}
div.panel{
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


div.piStatus span div{
    width: 20px;
    height: 20px;
    background-color: #990000;
    border-radius: 50%;
    display: inline-block;
}

div.piStatus span.struggling div{
    background-color:#FFFF00;
}
div.piStatus span.good div{
    background-color:#00CC33;
}
div.piStatus span{
  margin-right: 20px;
  margin-left: 20px;
}


text.sublabel {
  font-size: x-small;
}

svg text {
  fill: black;
}
