div.realtime {
  height: 250px;
}

svg.seismograph {
  height: 150px;
  width: 90%;
}
canvas.seismograph {
  height: 150px;
  width: 90%;
}

path.seispath {
  stroke: skyblue;
  fill: none;
  stroke-width: 1px;
}
div.equalizer {
    height:120px;
}

div.equalizer span div{
  display: inline-block;
    width:20px;
    height:2px;
    background-color:pink;
}
div.sidebar {
  background-color: skyblue;
  height: 100%;
  width: 200px;
  z-index:1;
  position: fixed;
  top: 0;
  left:75%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;

}
p.clock{
  font-size: 30px;

}
button.heatcollapse{
  background-color: gray
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 200px;
  text-align: left;
  transition:0.4s;
}
div.panel{
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


div.piStatus span div{
    width: 20px;
    height: 20px;
    background-color: #990000;
    border-radius: 50%;
    display: inline-block;
}

div.piStatus span.struggling div{
    background-color:#FFFF00;
}
div.piStatus span.good div{
    background-color:#00CC33;
}
div.piStatus span{
  margin-right: 20px;
  margin-left: 20px;
}

path.seisplot .orientZ {
  stroke: seagreen;
}

path.seisplot .orientN {
  stroke: red;
}

path.seisplot .orientE {
  stroke: orange;
}

text.sublabel {
  font-size: x-small;
}
