[Unit]
Description=Auth Ringserver
After=multi-user.target

[Service]
User=geo
Group=geo
WorkingDirectory=/home/geo/Auth
StandardOutput=inherit
StandardError=inherit
Restart=always
Type=idle
ExecStart=/home/geo/Auth/ringserver /home/geo/Auth/ringserver_auth.d

[Install]
WantedBy=default.target

