[Unit]
After=multi-user.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/mma8451
StandardOutput=inherit
StandardError=inherit
Restart=no
Type=idle
ExecStart=/home/pi/mma8451/startACQ.sh

[Install]
WantedBy=default.target
