[Unit]
After=multi-user.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/dragrace/sensorNode
StandardOutput=inherit
StandardError=inherit
Restart=always
Type=idle
ExecStart=/home/pi/dragrace/sensorNode/startACQ.sh

[Install]
WantedBy=default.target
