[Unit]
After=multi-user.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/Production/Run
Restart=always
RestartSec=5
Type=idle
ExecStart=/usr/bin/python3  /home/pi/Production/dragrace/python/sendMyIP.py -t /home/pi/Production/Run/pi0X_token.jwt

[Install]
WantedBy=default.target
