
g.out path {
  stroke: red;
  fill: none;
  stroke-width: 1px;
}

g.in path {
  stroke: skyblue;
  fill: none;
  stroke-width: 1px;
}

g.reout path {
  stroke: seagreen;
  fill: none;
  stroke-width: 1px;
}

ul {
  list-style: none;
}

div.fft svg g g.allfftpaths g path {
        fill: none;
        stroke: steelblue;
        stroke-linejoin: round;
        stroke-linecap: round;
        stroke-width: 1.5;
}

div.fft svg g g.allfftpaths g:nth-child(9n+1) path {
  stroke: skyblue;
}

div.fft svg g g.allfftpaths g:nth-child(9n+2) path {
  stroke: olivedrab;
}

div.fft svg g g.allfftpaths g:nth-child(9n+3) path {
  stroke: goldenrod;
}

div.fft svg g g.allfftpaths g:nth-child(9n+4) path {
  stroke: firebrick;
}

div.fft svg g g.allfftpaths g:nth-child(9n+5) path {
  stroke: darkcyan;
}

div.fft svg g g.allfftpaths g:nth-child(9n+6) path {
  stroke: orange;
}
